$tax-blue:#72C8C5;
$black-text:#091520;
$primary-blue:#163651;
$beige-bg:Beige;
$white:white;
$turqoise:#40A5A2;
$secondary-blue:#02274C;
$grayc4:#C4C4C4;
$grayB7:#B7B7B7;
$dark-gray:#627089;
$sky-blue:#00A5DF;
$overlay-color: #fff;
$whitef9:#F0F9F9;