/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../Assets/fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../Assets/fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../Assets/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../Assets/fonts/inter-v12-latin-regular.woff") format("woff"), url("../Assets/fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../Assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face../Assets/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../Assets/fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../Assets/fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../Assets/fonts/inter-v12-latin-500.woff2") format("woff2"), url("../Assets/fonts/inter-v12-latin-500.woff") format("woff"), url("../Assets/fonts/inter-v12-latin-500.ttf") format("truetype"), url("../Assets/fonts/inter-v12-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face../Assets/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../Assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../Assets/fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../Assets/fonts/inter-v12-latin-700.woff2") format("woff2"), url("../Assets/fonts/inter-v12-latin-700.woff") format("woff"), url("../Assets/fonts/inter-v12-latin-700.ttf") format("truetype"), url("../Assets/fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../Assets/fonts/inter-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../Assets/fonts/inter-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../Assets/fonts/inter-v12-latin-300.woff2") format("woff2"), url("../Assets/fonts/inter-v12-latin-300.woff") format("woff"), url("../Assets/fonts/inter-v12-latin-300.ttf") format("truetype"), url("../Assets/fonts/inter-v12-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
}
.banner-form-input {
  width: 100%;
  border: 1px solid #B7B7B7;
  border-radius: 2rem;
  margin-bottom: 2.4rem;
  padding: 0.6rem 1rem;
  height: 4rem;
  font-size: 1.4rem;
  transition: background-color 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  font-size: 62.5%;
  color: #091520;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -1000px;
  width: 0;
  height: 0;
  opacity: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 100rem;
  }
}
@media only screen and (max-width: 992px) {
  .wrapper {
    max-width: 90rem;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 80rem;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper {
    max-width: 60rem;
  }
}

#topNavbar {
  width: 100%;
  background-color: #163651;
  padding: 0.8rem 0rem;
}
@media only screen and (max-width: 576px) {
  #topNavbar {
    display: none;
  }
}

.top-nav-font-icon {
  color: #40A5A2;
}

.top-nav-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.twitter-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.top-nav-icon-link {
  margin: 0 1.2rem;
}
.top-nav-icon-link:last-child {
  margin-right: 0;
}

.top-contact-info {
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 0.1rem;
}

.seperator {
  margin: 0 0.8rem;
}

.social-media {
  display: flex;
  align-items: center;
}

#secondNavbarSection {
  width: 100%;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: Beige;
  font-size: 1.4rem;
  font-weight: 400;
}

.logo {
  width: 4rem;
  height: 5.8rem;
}

.second-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 1.3rem 0rem;
}
@media only screen and (max-width: 576px) {
  .second-navbar {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    top: 34px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
}

#nav-button {
  display: none;
}

.hamburger-label {
  display: none;
}
.hamburger-label::before {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 3rem;
  right: 2rem;
  background-color: #02274C;
  top: 2.5rem;
  transition: 0.4s ease;
}
.hamburger-label:after {
  content: "";
  position: absolute;
  right: 2rem;
  height: 0.3rem;
  width: 3rem;
  background-color: #02274C;
  top: 3.7rem;
  transition: 0.4s ease;
}
@media only screen and (max-width: 576px) {
  .hamburger-label {
    display: block;
    cursor: pointer;
  }
  .hamburger-label::before, .hamburger-label::after {
    display: block;
  }
}

nav li {
  display: inline;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
}

.link {
  margin: 0 1rem;
  padding: 0 1rem;
  padding-bottom: 0.2rem;
  text-decoration: none;
  align-self: center;
  color: #091520;
  text-align: center;
  position: relative;
}
.link:last-child {
  margin-right: 0;
  padding-right: 0;
}
.link:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #02274C;
  height: 4px;
  border-radius: 2px;
  transition: all 0.5s;
}
.link:hover {
  color: #02274C;
}
.link:hover:after {
  width: 100%;
}

.banner-image {
  background-image: linear-gradient(rgba(9, 21, 32, 0.75), rgba(9, 21, 32, 0.75)), url("../Assets/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.banner-content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 8.2rem 0;
}
@media only screen and (max-width: 576px) {
  .banner-content-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

.banner-content {
  color: white;
  flex-basis: 50%;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 576px) {
  .banner-content {
    flex-basis: 100%;
    align-items: center;
    padding-right: 0;
  }
}

.main-heading {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 120%;
}
@media only screen and (max-width: 576px) {
  .main-heading {
    text-align: center;
  }
}

.sub-content {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  width: 75%;
}

.primary-btn {
  background-color: #40A5A2;
  border-radius: 2.4rem;
  color: white;
  border: none;
  padding: 1rem 2.4rem;
  cursor: pointer;
  padding: 1rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  transition: all 0.2s linear 0s;
}
.primary-btn:before {
  content: "\f054";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.primary-btn:hover {
  text-indent: 2rem;
}
.primary-btn:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

.form-container {
  flex-basis: 50%;
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 576px) {
  .form-container {
    flex-basis: 100%;
    justify-content: center;
    padding: 3rem 2rem 0.5rem 2rem;
  }
}

.form-content-wrapper {
  display: flex;
  flex-direction: column;
  color: #02274C;
  width: 36.5rem;
  background-color: white;
  padding: 2.4rem;
  border-radius: 1.6rem;
  box-shadow: 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.08);
}

.form-heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.banner-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-style {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  line-height: 150%;
  color: #091520;
}

.inline {
  display: flex;
  align-items: start;
  font-size: 1.4rem;
}

.check-box {
  background-color: #40A5A2;
  border-radius: 0.2rem;
  color: white;
  border: none;
  padding: 1rem 2.4rem;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  width: 3rem;
  margin-right: 0.8rem;
  cursor: pointer;
  position: relative;
}

.check-box-label {
  cursor: pointer;
}

.check-box::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #627089;
  border-radius: 0.2rem;
  visibility: hidden;
}

.check-box::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 30%;
  background: none;
  border-left: 0.05rem solid white;
  border-bottom: 0.05rem solid white;
  transform: translateX(25%) translateY(40%) rotate(-45deg);
  visibility: hidden;
}

.check-box:checked::before {
  visibility: visible;
  z-index: 2;
}
.check-box:checked::after {
  visibility: visible;
  z-index: 3;
}

.terms-condition-link {
  color: #00A5DF;
  text-decoration: underline;
}

.form-button {
  background-color: #40A5A2;
  border-radius: 2.4rem;
  color: white;
  border: none;
  padding: 1rem 2.4rem;
  cursor: pointer;
  background-color: #02274C;
  margin-top: 3.2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear 0s;
}
.form-button:before {
  content: "\f061";
  font-family: FontAwesome;
  color: #02274C;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 9%;
  height: 100%;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  transform: scale(0, 0);
  transform-origin: center left;
  transition: all 0.4s linear 0s;
}
.form-button:hover {
  text-indent: 1rem;
}
.form-button:hover .button-font-icon {
  visibility: hidden;
}
.form-button:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
  right: 0;
}

#cardSection {
  background-color: #F0F9F9;
}

.card {
  padding-right: 4.8rem;
}
.card:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 576px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  .card:last-child {
    padding-right: 4rem;
  }
}

.icon-bg {
  border-radius: 50%;
  background-color: #40A5A2;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon {
  width: 3rem;
  height: 4rem;
}

.finance-icon {
  width: 3.4rem;
  height: 3.4rem;
}

.card-content-heading {
  font-size: 2rem;
  color: #163651;
  font-weight: 600;
  padding-top: 2.4rem;
  padding-bottom: 0.8rem;
}

.card-content {
  font-size: 1.6rem;
  color: #091520;
  line-height: 150%;
}

.card-content-wrapper {
  display: flex;
  padding: 9.5rem 0;
}
@media only screen and (max-width: 576px) {
  .card-content-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

.button-font-icon {
  color: white;
}

@media only screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 7rem;
    width: 100%;
    background: white;
    max-height: 0;
    overflow: hidden;
  }
  nav li {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }
  nav li:hover {
    background-color: #C4C4C4;
  }
  nav a {
    width: 100%;
    display: block;
  }
  #nav-button:checked ~ ul {
    max-height: 64rem;
    transition: max-height 1s ease-in-out;
  }
  #nav-button:checked + .hamburger-label::before {
    transform: rotate(313deg) translateX(-1rem);
  }
  #nav-button:checked + .hamburger-label::after {
    transform: rotate(41deg) translateX(-0.7rem);
  }
}

/*# sourceMappingURL=style.css.map */
